#!/usr/bin/make -f

DEB_DH_MAKESHLIBS_ARGS_libmission-control-plugins0 := -V

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

# Having a static library for a plugin loader is pretty useless, so get rid
# of it. We don't want the libtool stuff either, but we do want to list any
# other missing files.
common-binary-post-install-arch:: list-missing
list-missing: remove-cruft
remove-cruft:
	rm -f debian/tmp/usr/lib/libmission-control-plugins*.a
	rm -f debian/tmp/usr/lib/libmission-control-plugins*.la

DEB_DH_STRIP_ARGS := --dbg-package=telepathy-mission-control-5-dbg

DEB_CONFIGURE_LIBEXECDIR := "\$${prefix}/lib/telepathy"

# Explicitly disable old-style plugins, which has the side-effect of disabling
# their associated documentation, making their libraries static, and disabling
# their headers
DEB_CONFIGURE_EXTRA_FLAGS := \
	--disable-Werror \
	--disable-mcd-plugins \
	--enable-gtk-doc \
	--enable-server \
	--enable-gnome-keyring \
	--with-html-dir=\$${prefix}/share/doc/libmission-control-plugins-doc

# we symlink some of the doc directories together
DEB_INSTALL_DOCS_ALL :=
DEB_INSTALL_DOCS_telepathy-mission-control-5 := README NEWS AUTHORS
DEB_INSTALL_DOCS_telepathy-mission-control-5-dbg := --link-doc=telepathy-mission-control-5
DEB_INSTALL_DOCS_libmission-control-plugins-dev := --link-doc=libmission-control-plugins0

debian/stamp-buildinfo: insist-on-symlinks
insist-on-symlinks:
	for p in libmission-control-plugins-dev; do \
		install -d debian/$$p/usr/share/doc || exit $$?; \
		ln -s libmission-control-plugins0 debian/$$p/usr/share/doc/$$p || exit $$?; \
	done
	for p in telepathy-mission-control-5-dbg; do \
		install -d debian/$$p/usr/share/doc || exit $$?; \
		ln -s telepathy-mission-control-5 debian/$$p/usr/share/doc/$$p || exit $$?; \
	done

export DPKG_GENSYMBOLS_CHECK_LEVEL = 4

include $(CURDIR)/debian/update-patches.mk
